@import url('https://necolas.github.io/normalize.css/3.0.2/normalize.css');

/*General*/
body {
    background: #fff;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
    font: Helvetica Neue, Helvectica, Arial, serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5em;
  }

  .tooltip {
    position: relative;
    z-index:5000;
    left:375px;
    top:-70px;
    padding:5px;
    width:250px;
    font-size:.9em
  }